body{background:#2b0d41 url(images/theme.jpg) repeat-x 0 120px;font-size: 13px;font-family: 微軟正黑體,'microsoft jhenghei',Arial,Helvetica,sans-serif;}

#DivTop {background:url(images/divtop.jpg) repeat-x;}
#DivTop .navbar-inverse {background:url(images/header.jpg) no-repeat top center;height:121px;}
#DivTop .container {width:1200px;min-width: 1200px}
#DivTop .navbar-header .navbar-brand{display:block;width:400px;height:120px;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.navbar-toggle{float: none}
#DivTop .navbar-nav{float:right;}
#DivTop .navbar{margin-bottom: 0}
#DivTop a{color:#fff}
#DivTop a:hover{color:#ddd;}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus{background:#62095B}
#DivTop .dropdown-menu{background:#6A3379;}

#DivTop .navbar-right{margin-top: 15px}
#DivTop .navbar2{margin-top: -50px}
#DivTop .navbar2 .glyphicon{color:#FF95D9;}
.Text_Search {background:#790864;border:1px solid #fff;color:#fff;padding-right: 30px}
.Text_Search input::-webkit-input-placeholder{color:#fff;}
input:-moz-placeholder{color:#fff;}
input::-moz-placeholder{color:#fff;}
input:-ms-input-placeholder{color:#fff;}
#A_Search{margin-left: -40px;border:0;background:transparent;}
.mainmenu li a { font-size : 18px;}
.collapse .Theme > li > a { font-size : 14px;}


.PageContent {background:#582e78;box-shadow: -5px 55px 20px -5px #d7259b, 5px 55px 20px -5px #d7259b;border-radius:5px 5px 0 0;}

.DivMin900{min-height:900px;}
.DivBack{
    background:#582e78;
    border-radius: 10px 10px 10px 10px;
    padding:0px 20px 25px; min-height: 600px;}
#boxTheme {background:url(images/theme.jpg) repeat-x;border:0;height:51px;
    margin-left: -20px;margin-right: -20px;margin-bottom: -5px;
    border-radius: 5px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-bottom: 5px solid #490B75;position:static;}    
#boxTheme a{color:#fff;text-shadow:0 0 1px #000;font-size: 13.5px;border-radius:5px;}
#boxTheme a:hover{border-top:1px solid #F166AA;background:#2B0D41;color:#FFB5E5;}
#boxTheme .active a{background:url(images/theme_active.jpg) top center repeat-x;color: #FFD6F0;border-radius:5px;}
#boxTheme .active a:hover{background:url(images/theme_active.jpg) top center repeat-x;color: #FFD6F0;border-top:0;}



#boxNews{background:#fff;padding:15px 0;}
#indexnews .boxtitle{background:#fff;color:#FF4070;font-size:20px;height:35px;border:0;border-bottom: 1px dotted #FF4070;font-weight: bold}
.ulData li{padding:8px}
.ulData .date{display:block;color:#888;font-family: arial;padding:3px;}
.ulData .even{background:#FFF2F2;border-bottom: 1px dotted #ffdada;border-bottom: 1px dashed #ffdada;}
.ulData a{color:#000;font-size: 15px}
.ulData a:hover{color:#FF4086}


.boxtitle{
/*border:2px solid #d1008b;*/
background: #b10076;
background: -moz-linear-gradient(top,  #b10076 0%, #2b001c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b10076), color-stop(100%,#2b001c));
background: -webkit-linear-gradient(top,  #b10076 0%,#2b001c 100%);
background: -o-linear-gradient(top,  #b10076 0%,#2b001c 100%);
background: -ms-linear-gradient(top,  #b10076 0%,#2b001c 100%);
background: linear-gradient(to bottom,  #b10076 0%,#2b001c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b10076', endColorstr='#2b001c',GradientType=0 );
color:#fff;
height:49px;
border-bottom: 0;
border-radius: 5px 5px 0 0
}
.boxtitle h2{margin-top:0;padding-top: 0;height:49px;}
#boxNewProd .boxtitle h2{background:url(images/boxnewprod.png) no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
#boxDailyTop .boxtitle h2{background:url(images/boxdailytop.png) no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
#boxRecomProd .boxtitle h2{background:url(images/boxrecomprod.png) no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.ProdDiv, .ChosenDiv{background:#fff;}

.keyword{color:#582E78;}
#footer{background:url(images/footer.png) repeat-x bottom;padding-top:10px;/*height:550px;*/}
.footerinner {background:url(images/footerinner.jpg) no-repeat bottom center;font-size:18px;letter-spacing: 1px;border-radius: 8px 8px 0 0;}
.footerinfo{font-size: 15px}
    .footerinfo strong{color:#fbc735;font-size: 20px}
    .fpack, .fpro, .fcontact{background-image:url(images/footericon.png);background-repeat: no-repeat;padding-left: 100px;color:#fff;}
    .fpack{background-position: 0 0;height:50px;margin-bottom: 40px;margin-top:20px;}
    .fpro{background-position: 0 -70px;height:60px;margin-bottom: 40px}
    .fcontact{background-position: 0 -140px;height:130px;}
    .fcontact a{color:#FF96E7;} 
.fcate{}
    .fcate h2{color:#fbc735;font-size: 20px;padding:0;font-family:'microsoft jhenghei';margin:20px 0 10px;}
    .fcate a{font-size:14px;color:#fff;}
    .fcate a:hover{color:#FF96E7;}
    .fcate a:visited{color:#999;}
.fshare{}
.boxwarning{padding-top:10px;padding-bottom:10px;clear:both;font-size: 15px;background:url(images/footericon.png) no-repeat 30px -370px;}
.copyright{color:#e7c9ff;padding-left: 110px}
.warning18{color:#e7c9ff;padding-left: 110px}


ul.submenu{display:none;}
.LeftMemnu ul li hr {margin: 0; border-width: 3px 0 0; border-color:#F2DEDE;}
.LeftMemnu ul li ul {/*background-color:#DFF0D8;*/border-radius: 5px 5px 5px 5px;}
.LeftMemnu ul li ul li ul {background-color:#FCF8E3;border-radius: 5px 5px 5px 5px;}
.Cate2 > li {float:left; width:50%; height: 50px;}

.A_Menu { z-index: 1; height: 40px;}
.Menu {float:left;}


.DivBottom20, .DivBottom20:first-child{margin-bottom: 10px; margin-top: 10px;}


.DivMedia {height: 130px;}
.DivMedia > a > img {height: 130px; max-width: 130px;}
.DivMedia > div > a > h4  {height: 55px;}
.DivMedia > p  {height: 70px;}
/*.input-group-addon {width:670px;}*/
#myTabContent{margin-top:35px;}

.content {
        height: 100%;
        margin: 70px auto 20px;
        position: relative;
        text-align: center;
        width: 600px;
    }

    .tab_container fieldset {
        border: medium none;
        padding-bottom: 20px;
    }
    
    .tab_container fieldset legend {
        border-bottom: 1px solid #FFFFFF;
        color: #CCCCCC;
        float: left;
        font-size: 20px;
        margin: 10px 0;
        padding: 5px 0 5px 10px;
        text-align: left;
        width: 590px;
    }

    .tab_container fieldset p {
        clear: both;
        color: #FFFFFF;
        float: left;
        margin: 0 auto;
        padding: 10px;
        width: 400px;
    }

    .tab_container fieldset p input {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 3px 3px 3px 3px;
        float: left;
        outline: medium none;
        padding: 5px;
        width: 200px;
    }
    
    .tab_container fieldset p label {
        color: #FFFFFF;
        float: left;
        font-weight: bold;
        line-height: 26px;
        margin-right: 15px;
        text-align: right;
        width: 160px;
    }

    .tab_container fieldset p button {
        clear:both; 
        padding: 7px 20px; 
        font-family: 微軟正黑體; 
        box-shadow: 0 0 3px #AAAAAA; 
        background: none repeat scroll 0 0 #00548A;
        border: medium none;
        line-height:28px; 
        color:#fff; 
        font-size:22px;
    }

.ulData {padding: 5px;}
.RowDiv25 {/*margin-top:25px;*/}
.RowDiv45 {margin-top:45px;}
.ChosenImg { width:135px; height:135px;}
.ProdData {height: 60px; font-size:12px; padding: 5px;}
.ProdH5 { height: 32px; padding: 5px; }
.ProdImg { height: 140px; width: 140px;}
.ProdDiv {margin-bottom: 20px;}

.ulData div {margin-top:5px;}

.ProdDiv,.NewsDiv,.ChosenDiv,.NewsPro{overflow:auto; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.ProdDiv{height:465px;border-bottom: 5px solid #ccc }
.NewsDiv{height:225px;}
.ChosenDiv{height:985px;border-bottom: 5px solid #ccc }
.NewsPro{height:425px;border-bottom: 5px solid #ccc }


@media (max-width: 1000px){
    #DivTop .navbar-inverse {background:url(images/header.jpg) no-repeat top left;}
}
@media (max-width: 1024px){
    body{overflow-x:hidden;}
    #DivTop {background:none}
    #DivTop .container {width:auto;min-width:inherit;}
    /*#DivTop .navbar-header .navbar-brand{display: none}*/
    #DivTop .navbar-inverse {background:none;}
    #DivTop .navbar-header .navbar-brand{
        background:url(images/header.jpg) no-repeat top left;border-radius: 5px;
        width:100%;height: 140px;text-indent:200%;
        background-size:200%;}
    #DivTop .navbar-nav{float:left;width: 100%;margin:0;}
    #DivTop .navbar-collapse .nav>li{/*width: 30%;display: inline-block*/}
    #DivTop .navbar2{position: absolute;top: 0px;right: 0;margin: 5px 0 0;padding-left: 0;width: auto}
    #DivTop .navbar2 li{display: inline-block;vertical-align: top}
    .navbar-ex1-collapse{background: #46146A}
    .navbar-inverse .navbar-toggle{border:1px solid #555;font-size:20px;color:#fff;padding: 3px 15px}
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border:0;}
    
    .mainmenu li a { font-size : 13px;}
    .Theme li{display: inline-block;}
    #boxTheme{position: relative;margin-top: 60px;margin-bottom: 5px;}
    #boxTheme a{font-size: 14.5px;}
    .Theme{width: 100%;white-space: nowrap;overflow: auto;margin:4px;left: 0;position: absolute;}
    .nav-search-m{padding-bottom: 15px}

    #boxNews{background:#fff;padding:0 0 15px;}

    .boxwarning {background: none;padding-left: 10px}
    .fpack, .fpro, .fcontact, .copyright, .warning18 {background: none;padding-left: 0}
}
@media (max-width: 500px){
    /*#DivTop .navbar-header .navbar-brand{height: auto;}*/
    #boxTheme {margin-top: 0px;}
    #boxNews{margin-top:15px;}
}